body {
    background-color: #e7e7e7;
  }
  
  #glowna-nawigacja {
    background-color: #390281;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }
  
  #podsumowanie {
    margin: 8rem auto 3rem auto;
    padding: 2rem;
    width: 90%;
    max-width: 90rem;
    border-radius: 16px;
    background-color: #5706c0;
    position: relative;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    height: 22rem;
  }
  
  #podsumowanie h2 {
    color: white;
    font-size: 4.5rem;
    margin-bottom: 0.25rem;
  }
  
  #podsumowanie article {
    position: absolute;
    top: 2rem;
    right: 3rem;
    padding: 1rem 2rem;
    border-radius: 12px;
    text-align: right;
    color: white;
  }
  
  #podsumowanie article img {
    width: 12rem;
    height: 12rem;
    border-radius: 12px;
    transform: rotateZ(5deg);
    border: 5px solid white;
    margin-bottom: 1rem;
  }
  
  #podsumowanie address {
    font-weight: bold;
  }

  #podsumowanie p, a {
    color: white;
    text-decoration: none;
  }
  
  #podsumowanie time {
    font-weight: bold;
  } 
  
  #do-przeczytania {
    margin: 2rem 0;
  }
  
  #do-przeczytania button {
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    font: inherit;
    color: white;
    cursor: pointer;
  }
  
  #do-przeczytania button:hover,
  #do-przeczytania button:active {
    background-color: white;
    color: #390281;
  }

  main {
    width: 90%;
    max-width: 90rem;
    margin: 3rem auto;
    background-color: white;
    padding: 1rem;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  }

  .tag {
    background-color: white;
    color: #390281;
    padding: 0.5rem 1rem;
    border-radius: 15px;
  }

  #formularz-detail {
    margin: 3rem auto;
    width: 90%;
    max-width: 40rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
  }
  
  #formularz-detail button {
    font: inherit;
    background-color: #390281;
    color: white;
    border: 1px solid #390281;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
  }
  
  #formularz-detail button:hover,
  #formularz-detail button:active {
    background-color: #4f0ba7;
    border-color: #4f0ba7;
  }
  
  .formularz-komentarza {
    margin-bottom: 1rem;
  }
  
  .formularz-komentarza label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  .formularz-komentarza input,
  .formularz-komentarza textarea {
    display: block;
    width: 100%;
    font: inherit;
    padding: 0.25rem;
    border-radius: 6px;
    border: 1px solid #ccc;
  }
  
  .errorlist {
    list-style: none;
    margin: 0.5rem 0;
    padding: 0;
    color: #d6000b;
  }
  
  .blad label {
    color: #d6000b;
  }
  
  .blad input,
  .blad textarea {
    border-color: #d6000b;
    background-color: #ffe6e7;
  }
  
  #alert {
    margin: 8rem auto 3rem auto;
    border: 1px solid #d6000b;
    background-color: #ffe6e7;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
  }
  
  #alert a {
    text-decoration: none;
    border: 1px solid #d6000b;
    background-color: #d6000b;
    color: white;
    padding: 0.25rem 1.5rem;
    border-radius: 6px;
  }
  
  #komentarze {
    margin: 3rem auto;
    width: 90%;
    max-width: 60rem;
    border-radius: 12px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
  }
  
  #komentarze ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  #komentarze li {
    margin-bottom: 1rem;
    border-bottom: 2px solid #ccc;
  }
  
  #komentarze li:last-of-type {
    border-bottom: none;
  }
  
  #komentarze h2 {
    color: #464646;
  }