{% extends "base.html" %}
{% load static %}


{% block title %}
 Mój blog
{% endblock %}
{% block pliki_css %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}">
    <link rel="stylesheet" href="{% static "blog/index.css" %}">
{% endblock  %}

{% block content %}
    <section id="przywitanie">
        <header>
            <img src="{% static "blog/images/profilowe.jpg" %}" alt="Ja - autor bloga"/>
            <h2>Blog Piotrusia</h1>
        </header>
        <p>Siema jetem Piotruś ale pewnie to już wiecie</p>
    </section>

    <section id="najnowsze-posty">
        <h2> Ostatnie przemyślenia</h2>

        <ul>
            {% comment %} najnowsze_posty to zmienna zadeklarowana w funkcji {% endcomment %}
            {% for post in najnowsze_posty %}
            {% include "blog/includes/post.html" %}
            {% endfor %}
        </ul>
    </section>

    <section id="o_nas">
        <h2>Czym się zajmuję</h2>
        <p>Nie umiem wymyśleć lorem ipsum a w generatorze nie chce mi się go wpisywać więc będzie taki tekst</p>
        <p>Inny paragraf ogólnie tu też powinien być inny tekst. Może chce ktoś odkupić ode mnie peżota? Chciałbym już zmienić auto</p>
    </section>
{% endblock  %}