{% extends "base.html" %}
{% load static %}


{% block title %}
    {{ zindentyfikowany_post.tytul}}
{% endblock %}
{% block pliki_css %}
    <link rel="stylesheet" href="{% static "blog/strona-postu.css" %}">
{% endblock  %}

{% block content %}
 <section id="podsumowanie">
    <h2>{{ zindentyfikowany_post.tytul}}</h2>
    <div>
        {% for tag in tagi_postu %} 
            <span class="tag">{{tag.hasztag}}</span>
        {% endfor %}
    </div>

    <article>
        <img src="{% static "blog/images/"|add:zindentyfikowany_post.nazwa_obrazka %}" alt="Tytuł postu">
        <address>By <a href="mailto:{{ post.autor.email}}">{{ zindentyfikowany_post.autor }}</a></address>
        <div>
            Ostatnio zaaktualizowane <time>{{ zindentyfikowany_post.data|date:"d M Y" }}</time>
        </div>
    </article>
 </section>

 <main>
    {{ zindentyfikowany_post.tresc|linebreaks }}
 </main>
{% endblock %}