<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static "aplikacja.css" %}">
    
    {% block pliki_css %}{% endblock  %}
</head>
<body>
    <header id="glowna-nawigacja">
        <h1><a href="{% url "strona-glowna" %}">Mój blog</a></h1>
        <nav>
            <a href="{% url "do-przeczytania" %}">Zapisane posty</a>
            <a href="{% url "strona-postow" %}">Wszystkie posty</a>
        </nav>
    </header>

    {% block content %}
    
    {% endblock  %}    
</body>
</html>